.outerContainer {
  padding: 0.5rem;
  cursor: pointer;
}

.clickedOuterContainer {
  padding: 0.5rem;
  cursor: pointer;
  background: rgb(202, 224, 232);
  /* text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1rem; */
}
