.outerContainer {
  padding: 0.5rem;
  cursor: pointer;
}

.outerContainer:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.clickedOuterContainer {
  padding: 0.5rem;
  cursor: pointer;
  background: rgb(229, 237, 240);
}
