.input {
  font: inherit;
  padding: 0.75rem;
  border-radius: 3px;
  background-color: #f3f1f1;
  border: 1px solid #d2dada;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.input:focus {
  background-color: #d6d8f1;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
